name: CD Pipeline

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup kubectl
      uses: azure/setup-kubectl@v3

    - name: Start Minikube
      uses: medyagh/setup-minikube@latest

    - name: Deploy to Kubernetes
      run: kubectl apply -f k8s/

    - name: Verify Deployment
      run: kubectl get pods

    - name: Dummy DAST Stage
      run: echo "OWASP ZAP Baseline Scan (placeholder)"
